<div class="select-wrapper" (mouseleave)="showOptions = false">
    <!-- *ngIf="showOptions" -->
  <!-- <div class="select-list" >
    <div class="select-list-li" *ngFor="let item of options">
      <label for="{{item.name}}">
        <input #checkbox type="checkbox" [checked]="isChecked(item)" 
          (change)="onCheckBoxChange(item, checkbox)" id="{{item.name}}">{{item.name}}
        </label>
    </div>
  </div>
  <div class="select-show" (click)="clickSelect()">
    <i class="fa fa-search"></i>
    <div class="select-show-txt">请选择</div>
    <i class="glyphicon glyphicon-menu-down"></i>
  </div>
  <div class="select-active" *ngIf="value.length>0">
    <ul>
      <li *ngFor="let item of value">
        {{item}}<span class="icon-close" (click)="removeOption(item)">x</span>
      </li>
    </ul>
  </div> -->


  <div class="circle-out1 heart">
    <div class="circle-in1"></div>
  </div>
  <div class="trangle">

  </div>
</div>