.item-box{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
.item-label{
    width: 100px;
}
.box{
    /* width: 100px; */
    flex: 1;
}