<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<app-car-list></app-car-list>
<div class="item-box">
    <div class="item-label">环境：</div>
    <div class="box">
        <app-muti-select [options]="selectionArr" (valueChange)="showSelectArr($event)"></app-muti-select>
    </div>
    <div class="item-label">环境：</div>
    <div class="box">
        <app-muti-select [options]="selectionArr" (valueChange)="showSelectArr($event)"></app-muti-select>
    </div>
    <div class="item-label">环境：</div>
    <div class="box">
        <app-muti-select [options]="selectionArr" (valueChange)="showSelectArr($event)"></app-muti-select>
    </div>
</div>

